/* Header: логотип. выравнивание по центру */

body.theme_11 .wrapper .header .header-wrapper:not(.mobile_search_active) .container-fluid {
    max-width: fit-content !important;
}

/* Меню навигация: смещаем влево */

.navigation .nav.sf-menu {
    text-align: left !important;
    justify-content: left !important;
    width: 75% !important;
}

/* Меню навигация: двигаем навигацию вверх, делаем прозрачный */

body.theme-gray.theme_11 .wrapper .header .navigation-wrapper {
    background-color: none !important;
    position: relative !important;
    bottom: 70px !important;
}

body.theme-gray .header .navigation-wrapper {
    background-color: none !important;
    border-top: none !important;
}

.header .navigation-wrapper {
    border-top: none !important;
    background-color: none !important;
}