/* Header: логотип. выравнивание по центру */

body.theme_11 .wrapper .header .header-wrapper:not(.mobile_search_active) .container-fluid {
    max-width: fit-content !important;
}

/* Меню навигация: смещаем влево */

.navigation .nav.sf-menu {
    justify-content: center !important;
}

/* Меню навигация: двигаем навигацию вверх, делаем прозрачный, убираем нижнюю рамку */

body.theme-gray.theme_11 .wrapper .header .navigation-wrapper {
    background-color: transparent !important;
    position: relative !important;
    width: 500px !important;
    bottom: 70px !important;
}

body.theme-gray .header .navigation-wrapper {
    background-color: transparent !important;
    border-top: none !important;
}

.header .navigation-wrapper {
    border-top: none !important;
    background-color: transparent !important;
}

body.theme_11 .wrapper .header {
    border-bottom: none !important;
}

/* Меню навигация: изменяем шрифт */


body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy>a, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]>a {
    font-size: 18px !important;
    font-family: Playfair Display;
    font-style: normal !important;
    line-height: 24px !important;  

    display: block;
    margin: 10px 0;
    padding: 0 16px;
    color: #686161 !important;
    border-right: none !important;
    font-weight: normal !important;
    transition: unset!important;
}

/* Меню навигация (при наведении): убираем серый фон, подсветка снизу, делаем её меньше, добавляем цвет, убираем перегородку */

body.theme-gray.theme_11 .wrapper .header .navigation-wrapper .navigation .nav.sf-menu>li:hover {
    background-color: transparent !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li:hover>a:before {
    bottom: -10px !important;
    top: auto !important;
}

body.theme-gray.theme_11 .wrapper .header .navigation-wrapper .navigation .nav.sf-menu>li:hover>a:before {
    background-color: #F4E1E6 !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>a:before, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li:hover>a:before {
    position: absolute;
    width: 70%;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>a:before, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>a:before {
    position: absolute;
    width: 70%;
}

body.theme_11.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy>a, body.theme_11.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li>a {
    border-left: none !important;
}

/* Header: делаем расстояние до шапки меньше */

.wide .sticky-wrapper .header {
    height: 100px !important;
}

/* Отображаем иконку авторизации */

.wrapper .header .header-wrapper .header_widgets .header_login {
    padding: 0 5px !important;
  }
   
  .header_login > .d-none.d-lg-block {
    display: none !important;
  }
  
  .header_login > .d-none.d-sm-block.d-lg-none {
    display: block !important;
  }

  body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_login>a {
    line-height: 40px;
    min-width: 40px !important;
    text-align: center !important;
}


/* Замена иконки корзины */

.common-home .header-cart .cart-wrapper #cart {
    color: black !important;
}

body.theme-gray.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart {
    background-color: transparent;
}

.d-lg-inline-block {
    display: none !important;
}

body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart {
    display: contents;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    padding: 0 5px;
    min-width: 35px;
    text-align: center;
    border-radius: 4px;
}

.header-cart .cart-wrapper #cart, .header-cart .cart-wrapper #wishlist {
    padding: 0px 5px;
}

/* Увеличиваем размер корзины */

.header-cart .cart-wrapper #cart i {
    font-size: 21px;
    padding: 3px 0;
}

/* Смещение иконок вбок */

body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    right: 120px;
    left: auto;
}

/* Скрываем счетчик товаров в корзине */

body.theme_11 .header-cart .cart-wrapper .cart-qty-circle {
    display: none !important;
}

/* Body, categories: меняем размер */

body.theme_11 .wrapper .homefeatured_category>div>div>div {
    max-width: 281px !important;
    width: 100% !important;
    padding: 0px 0px !important;
    max-height: 290px;
}

/* Body, categories: убираем отступы от изображения, задаем ширину */

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
    padding: 0px !important;
    width: 250px;
}

/* Body, categories: убираем границы категорий */

body.ltr .wrapper .homefeatured_category > div > div > div > .thumbnail, body.ltr .wrapper .homefeatured_category > div > div > div {
    border: none !important;
}

/* Header, banner: убираем тень баннера */

.owl-wrapper-outer {
    box-shadow: none !important;
}

/* Body, categories: настройки шрифта категорий */

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize !important;
}

/* Body, categories: отодвигаем нижний заголовок ниже */

body#home .homefeatured_category .row {
    margin-bottom: 65px !important;
}