/* Header: логотип. выравнивание по центру */

body.theme_11 .wrapper .header .header-wrapper:not(.mobile_search_active) .container-fluid {
    max-width: fit-content !important;
}

/* Меню навигация: смещаем влево */

.navigation .nav.sf-menu {
    text-align: left !important;
    justify-content: left !important;
    width: 75% !important;
}